.searchBox {
  position: absolute;
  top: 500px;
  left: 350px;
  transform:  translate(-50%,50%);
  height: 50px;
  border-radius: 60px;
}

.searchBox:hover > .searchInput {
  width: 450px;
  padding: 0 8px;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
}

.searchButton {
  color: rgb(11, 11, 11);
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  float: right;
  width: 100px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  outline:none;
  float:left;
  padding: 0;
  color: rgb(15, 15, 15);
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}
